#toolsInterface,
#view {
    background-color: transparent;
}

QScrollArea {
    border: none;
}

#pageHeader CaptionLabel {
    color: rgb(95, 95, 95);
}

#logBrowser {
    background-color: rgba(0, 0, 0, 0.024);
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding: 8px;
    font-family: 'Cascadia Code', 'Consolas', 'Courier New';
    font-size: 12px;
    color: rgb(60, 60, 60);
}